* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #dbe2f4;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    background-color: #002d2d;
    color: white;
    display: flex;
    flex-direction: column;
}

#sidebar.collapsed {
    margin-left: -264px;
}

.navbar {
    padding: 1.15rem 1.5rem;
}

.sidebar-nav {
    flex: 1 1 auto;
}

.sidebar-logo {
    padding: 1.15rem 1.5rem;
    text-align: center;
    color: white;
}

.sidebar-logo a {
    color: white;
    font-weight: 700;
    font-size: 23px;
}

.sidebar-header {
    color: white;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: white;
    position: relative;
    transition: all 0.35s;
    display: block;
    font-size: 15px;
}

a.sidebar-link:hover {
    background-color: #008060;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/* ---------- TopBar ---------- */
.topbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 50px;
    margin-top: 20px;
}

/* ---------- Toggle ---------- */
.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}

.toggler-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

/* ---------- Logo ---------- */  
.logo {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-right: 20px;
}
  
.logo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---------- List of Doctors & Nurses ---------- */  
.row {
    display: flex;
    margin: auto;
    justify-content: space-between;
    gap: 0px;
    height: 100%;
    width: 800px;
}

.card {
    background-image: url(pics/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 1);
}

.card-title {
    color: black;
    font-weight: bold;
}

.card-text {
    color: black;
}

.list {
    float: right;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #002d2d;
    color: white;
    border: none;
}

.list:hover {
    background-color: #008060;
    color: white;
}